@using GaleriUygulamasi.Models
@using GaleriUygulamasi.Models.Context

@{
    ViewBag.Title = "Galeri";
}

<h2>Galeri</h2>

<style>
    .file-content {
        max-height: 500px;
    }



    .form-control[disabled], fieldset[disabled] .form-control {
        cursor: text;
    }

    .modal-body .img-responsive {
        max-width: 545px;
    }

    textarea {
        height: 150px !important;
    }

    input, select, textarea {
        max-width: 100%;
    }

    .modal-body {
        padding: 0;
    }

    i {
        margin-right: 3px;
    }

    .file-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

@{
    GaleriYonetimContext context = new GaleriYonetimContext();
    var List = (from p in context.Dosya
                orderby p.KayitTarihi descending
                select new
                {
                    p.ID,
                    p.BoyutKisaltma,
                    p.DosyaAdi,
                    p.DosyaTipi,
                    p.Ikon,
                    p.Aciklama
                }).ToList();
}

<div class="container">
    <div class="row">
        @for (int i = 0; i < List.Count; i++)
        {
            <div class="col-md-4">
                <div class="thumbnail" style="margin:5px;padding:5px;">
                    <img alt="Bootstrap Thubnail First" src="http://www.planwallpaper.com/static/images/15-beach-sea-photography.jpg" />
                    <div class="caption">
                        <div>
                            <h3>
                                @{
            if (List[i].DosyaAdi.Length > 15)
            {
                @(List[i].DosyaAdi.Substring(0, 13) + "...");
            }
            else
            {
                @List[i].DosyaAdi.ToString();
            }
                                }
                            </h3>
                        </div>
                        <div>
                            <a href="#fileEditModal" onclick="funcGetFileDetail(@List[i].ID)" data-toggle="modal" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-wrench"></i></a>
                        </div>
                        <div>
                            @{
            if (!string.IsNullOrEmpty(List[i].Aciklama))
            {
                if (List[i].Aciklama.Length > 25)
                {
                    @(List[i].Aciklama.Substring(0, 22) + "...");
                }
                else
                {
                    @List[i].Aciklama.ToString();
                }
            }
            else
            {
                @("Açıklama Satırı...")
            }
                            }
                        </div>
                        <hr />
                        <div class="bottom">
                            <i class="glyphicon glyphicon-hdd pull-left">
                                @List[i].BoyutKisaltma
                            </i>
                            <i class="glyphicon @List[i].Ikon pull-right">
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div id="fileEditModal" class="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="file-content">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-area" style="padding-top:15px; padding-right:15px;">
                                    <form role="form">
                                        <div class="form-group">
                                            <label class="control-label"><i class="glyphicon glyphicon-folder-open"></i><span id="orjinalAdi"></span></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><i class="glyphicon glyphicon-hdd"></i> <span id="dosyaBoyutu"></span></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><i class="glyphicon glyphicon-tags"></i><span id="dosyaTipi"></span></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Url Yolu :</label>
                                            <input id="urlYolu" disabled class="form-control has-success" style="font-size:20px;" value="http://wwww.google.com.tr" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Başlık :</label>
                                            <input id="dosyaBaslik" type="text" class="form-control" placeholder="Başlık">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Açıklama :</label>
                                            <textarea id="dosyaAciklama" class="form-control" type="textarea" placeholder="Açıklama"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left">
                            <a id="btnOnizle" target="_blank" class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"></i> Önizle</a>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Kapat</button>
                            <button type="button" class="btn btn-success" onclick="funcUpdateFile()"><i class="glyphicon glyphicon-ok"></i> Kaydet</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>

<script>

    var tempDosyaId = 0;
    function funcGetFileDetail(e) {
        tempDosyaId = e;
        $.ajax(
            {
                url: "/Home/GetFileDetailById?Id=" + e,
                success: function (e) {
                    $("#orjinalAdi").html(e.DosyaAdi);
                    $("#dosyaBoyutu").html(e.DosyaBoyutu);
                    $("#dosyaTipi").html(e.DosyaTipi);
                    $("#urlYolu").val(e.UrlYolu);
                    $("#dosyaBaslik").val(e.Baslik);
                    $("#dosyaAciklama").val(e.Aciklama);
                    $("#btnOnizle").attr("href", e.UrlYolu);
                    if (e.DosyaTipi.IndexOf("image") != -1) {
                        $(".file-content").html('<img class="img-responsive" src=' + e.UrlYolu + ' />');
                    } else if (e.DosyaTipi.IndexOf("video") != -1 || e.DosyaTipi.IndexOf("audio") != -1 || e.DosyaTipi.IndexOf("pdf") != -1) {
                        $(".file-content").html('<iframe src=' + e.UrlYolu + ' width="550" height="500"></iframe>')
                    }
                    else {
                        $(".file-content").html("<i class='glyphicon glyphicon-file' style='font-size:400px;padding:50px;'></i>")
                    }
                }
            })
    }

    function funcUpdateFile() {
        $.ajax({
            url: "/Home/UpdateFile",
            type:"POST",
            data: { ID: tempDosyaId, Baslik: $("#dosyaBaslik").val(), Aciklama: $("#dosyaAciklama").val() },
            success: function (e) {
                if (e == "E") {
                    $("#fileEditModal").modal("hide");
                }
            }
        })
    }

</script>